.off{
    background-color: red;
}

.on{
    background-color: greenyellow;
}

.card__implementacion{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
    
}

.card__implementacion h5{
    border: solid 2px black;
    width: 300px;
    padding-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    color: white;
    background-color: aqua;
    cursor: pointer;
    margin-left: 10px;
    
    
}

.card__implementacion h5:hover{
    color: black;
    background-color: blueviolet;
    
    
}

.card__implementacion__info{
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 10px;
    opacity: 0;
    width: 80%;
    transition: all ease-in-out 2s;
}

.card__implementacion__info__isActive{
    opacity: 1;
    
}

.card__implementacion__button__container{
    width: 20%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    border-radius: 10px;
    flex-direction: column;
}

.implementacion__container{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.implementacion__container h3{
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.cards__implementacion__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1500px;
}

